<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="my-4">Order Details</h1>

    <div class="mb-3">
        <h2>Order Information</h2>
        <p>Order ID: <span th:text="${order.id}">Order ID</span></p>
        <p>User: <span th:text="${order.usernameOfOwner}">Username</span></p>
        <p>Total Amount: <span th:text="${order.totalAmount}">$Total</span></p>

        <p>
            <strong>Delivery Address:</strong>
            <span th:text="${order.deliveryAddress}">Pushkin, 12</span>
        </p>

        <p>Order Status:
            <span th:if="${order.isDelivered}" th:text="'Delivered'"></span>
            <span th:if="${!order.isDelivered}" th:text="'In Transit'">️</span>
        </p>
    </div>

    <h2>Order Items</h2>
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Product name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${orderItems}">
            <td th:text="${item.productId}">Product ID</td>
            <td th:text="${item.quantity}">3</td>
            <td th:text="${item.price}">$99.99</td>
            <td th:text="${item.productName}">
        </tr>
        </tbody>
    </table>

    <a href="/admin/orders" class="btn btn-secondary">Back</a>
</div>
</body>
</html>
