<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Registration</title>
  <link rel="stylesheet" th:href="@{/css/login-register.css}">
</head>
<body>
<div class="container">
  <h2>Registration</h2>

  <div th:if="${successMessage}" class="success-message">
    <p th:text="${successMessage}"></p>
  </div>

  <form th:action="@{/registration}" method="post" th:object="${userSaveRequest}">
    <div class="input-group">
      <label for="username">Login</label>
      <input type="text" id="username" th:field="*{username}" required>
    </div>

    <div class="input-group">
      <label for="password">Password</label>
      <input type="password" id="password" th:field="*{password}" required>
    </div>


    <button type="submit">Register</button>
  </form>

  <p>Have registered? <a th:href="@{/login}">Login</a></p>
</div>
</body>
</html>
